anyio==4.9.0
click==8.2.1
pydantic==2.11.7
starlette==0.47.2
uvicorn==0.35.0
git+https://github.com/modelcontextprotocol/python-sdk.git@main#egg=mcp[cli]
python-dotenv==1.1.1
requests==2.32.4
beautifulsoup4==4.13.4